In [1]:
lst=[1,2,3,4,5]
print([x**2 for x in lst if x>2])

[9, 16, 25]

In [2]:
lst = [['akash','prem'],'shri']
print(lst[0][1][2])

e

In [8]:
lst=[1,2,3,4,5]
print([x for x in lst if x%2==0])

[2, 4]

In [29]:
seq = "Today Today we have exam exam at at 3:30"
seq = seq.split(" ")
print([' '.join({x for x in seq})])

['have at 3:30 we exam Today']

In [32]:
#create a set of multiples of 3
print({x for x in range(1,31) if x%3==0})

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}

In [45]:
seq = "Today Today we have exam exam at at 3:30"
seq2 = ['a','e','i','o','u',' ']
#print([x for x in seq])
d = [x for x in seq if x not in seq2]
print(d)

['T', 'd', 'y', 'T', 'd', 'y', 'w', 'h', 'v', 'x', 'm', 'x', 'm', 't', 't', '3', ':', '3', '0']

In [48]:
a = [1,2,3,4,5,6,7,8,9,10]
print({x:x**2 for x in a})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [52]:
first_name = ['Sid','Ainesh','Akash'] 
last_name = ['Bagul','Suresh','Kumbhar']
#for x in range (0,4):
print({first_name[x]:last_name[x] for x in range(len(first_name))})

{'Sid': 'Bagul', 'Ainesh': 'Suresh', 'Akash': 'Kumbhar'}

In [59]:
a = {"Apple":5,"Banana":10,"Chikoo":3,"Papaya":2}
print({key:b for key,b in a.items() if b>3})

{'Apple': 5, 'Banana': 10}